<div class="row justify-content-center">


    <div *ngIf="show" class="col-8">
        <div style="clear = left"><button (click)="show = true">Ogólne</button><button [disabled]="editForm.invalid" (click)="show = false">Akcje</button></div>
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-order-heading" jhiTranslate="bikehouseordersApp.order.home.createOrEditLabel">Create or edit a Order</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bikehouseordersApp.order.createdDate" for="field_createdDate">Created Date</label>
                    <div class="d-flex">
                        <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" formControlName="createdDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">

                    <label class="form-control-label" jhiTranslate="bikehouseordersApp.order.bikeName" for="field_bikeName">Bike Name</label>
                    <input type="text" class="form-control" name="bikeName" id="field_bikeName"
                           formControlName="bikeName"/>
                    <div *ngIf="editForm.get('bikeName')!.invalid && (editForm.get('bikeName')!.dirty || editForm.get('bikeName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('bikeName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bikehouseordersApp.order.phoneNumber" for="field_phoneNumber">Phone Number</label>
                    <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber"
                           formControlName="phoneNumber" required/>
                    <div *ngIf="editForm.get('phoneNumber')!.invalid && (editForm.get('phoneNumber')!.dirty || editForm.get('phoneNumber')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('phoneNumber')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bikehouseordersApp.order.startDate" for="field_startDate">Start Date</label>
                    <div class="d-flex">
                        <input id="field_startDate" type="datetime-local" class="form-control" name="startDate" formControlName="startDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bikehouseordersApp.order.comments" for="field_comments">Comments</label>
                    <input type="text" class="form-control" name="comments" id="field_comments"
                           formControlName="comments"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bikehouseordersApp.order.status" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="NEW">{{ 'bikehouseordersApp.Status.NEW' | translate }}</option>
                        <option value="WAITING_FOR_PARTS">{{ 'bikehouseordersApp.Status.WAITING_FOR_PARTS' | translate }}</option>
                        <option value="IN_PROGRESS">{{ 'bikehouseordersApp.Status.IN_PROGRESS' | translate }}</option>
                        <option value="FINISHED">{{ 'bikehouseordersApp.Status.FINISHED' | translate }}</option>
                        <option value="GIVEN">{{ 'bikehouseordersApp.Status.GIVEN' | translate }}</option>
                        <option value="PLANNED">{{ 'bikehouseordersApp.Status.PLANNED' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bikehouseordersApp.order.user" for="field_user">User</label>
                    <select [attr.disabled]="!userAuthorities.includes('ROLE_ADMIN')?true:null" class="form-control" id="field_user" name="user" formControlName="user">
                       <ng-container *ngIf="userAuthorities.includes('ROLE_ADMIN')">
                       <option [ngValue]="null"></option>
                       <option [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>
                       </ng-container>


                        <ng-container *ngIf="!userAuthorities.includes('ROLE_ADMIN')">
                            <ng-container *ngIf="isNew">
                                <option *ngIf="!userAuthorities.includes('ROLE_ADMIN')"[ngValue]="user.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : user" [selected]="true">{{ user.login }}</option>
                            </ng-container>

                            <ng-container *ngIf="!isNew">
                                <option [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>
                            </ng-container>
                        </ng-container>

                    </select>
                  </div>
              </div>

              <div>
                  <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                      <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                  </button>

                  <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                      <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                  </button>
              </div>
          </form>
      </div>



  <!-- START OF ACTIONS-->
    <div *ngIf="!show" class="col-8">

        <div style="clear = left"><button (click)="show = true">Ogólne</button><button (click)="show = false">Akcje</button></div>

        <div class="form-group">
            <label  class="form-control-label">Potrzebne akcje</label>
     <div>
         <!-- LIST OF ACTIONS START-->
         <table class="table table-bordered table-dark">
             <tr class="thead-dark">
                 <th>Nazwa</th>
                 <th>Cena</th>
                 <th>Akcja</th>
             </tr>
             <tr *ngFor="let act of actions; let i=index" class="table-secondary">
                 <td>{{act.actionName}}</td>
                 <td>{{act.price | currency: 'PLN'}}</td>
                 <td><button (click)="deleteAction(i)" class="btn btn-danger btn-sm">Usuń</button></td>
             </tr>
             <tr *ngIf="actions.length>0" class="table-warning">
                 <td>Suma</td>
                 <td>{{sum | currency:'PLN'}}</td>
             </tr>
         </table>

         <!-- LIST OF ACTIONS END-->

        <form name="editForm" role="form" novalidate (ngSubmit)="saveAction()">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <label class="form-control-label">Nazwa</label>
                        <select class="form-control" name="actionName" [(ngModel)]="action.actionName">
                            <optgroup label="Konserwacja">
                                <option value="Mycie roweru">Mycie roweru</option>
                            </optgroup>
                            <optgroup label="Wymiana podzespołów">
                                <option value="Przerzutka">Przerzutka</option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="col-sm">
                        <div class="form-group" style="float: left;">
                            <label class="form-control-label">Cena</label>
                            <div class="d-flex">
                                <input name="price" step="0.10"[(ngModel)]="action.price" type="number" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div style="float: left;">

                            <div class="btn-group">
                                <button type="submit"
                                        class="btn btn-primary btn-sm">
                                    <fa-icon icon="pencil-alt"></fa-icon>
                                    <span class="d-none d-md-inline">Dodaj</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





        </form>
        </div>
    </div>


    <!-- END OF------------------------- ACTIONS-->

















</div>
